body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #333 !important;
    padding: 10px 0;

}

/* Slideshow container */

div.scroll-container {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

/* fine Slideshow */

.paragraph-container {
    background-color: #fff;
    padding: 15px;
}

.paragraph-container h2 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 25px;
}



p {
    font-family: 'Georgia', serif !important;
    font-weight: 600px;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
    width: 75%;
}

p br{
    content: '';
    display:block;
    margin-top: 10px;
}

hr {
    background-color: #fff !important
}








