/* intro Gallery Section */
.gallery-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.gallery-section .col-md-6:first-child{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.gallery-section h2 {
  font-weight: 700;
  color: #000;
  margin-bottom:15px;
}

.gallery-section p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.gallery-section img {
  width: 100%;
  height: auto;
  display: block;
}

/* fine intro Gallery Section */
/* photos */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 4px;
  }
  
  .column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 100%;
  }

  /* Fine photos
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }